.container{
	/*margin: 10%;*/
	/*max-width: 80%;
	margin-left: auto;
	margin-right: auto;*/
}

.slogan{
	width: 300px;
}

#medal {
	height: 150px;
	width: 150px;
}

#theGoldenChoice{
/*display: -webkit-inline-box;*/

}

.slogan{
	display: inline-block;
	position: relative;
	top: 0px;
}

/*#ice{
	height: 200px;
	width: 200px;
}

#beer{
	height: 100px;
	width: 100px;
}
*/
